body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #000;
  background: #fff;
  margin: 20px;
}

h1, h2 {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

figure {
  text-align: center;
  margin: 20px 0;
}

figcaption {
  font-style: italic;
  margin-top: 5px;
}

ul {
  list-style-type: disc;
  margin-left: 30px;
}

ul ul {
  list-style-type: circle;
  margin-left: 30px;
}

a {
  color: blue;
  text-decoration: underline;
}
